html {
	height: 500px;
}
body {
	background-color: hsl(185, 75%, 39%);
}

.img-background-top {
	position: absolute;
	top:-500px;
	left:-300px;
	z-index: -50;
}

.nasti {
	overflow: hidden;
	position: absolute;
	display: inline-block;
	width: 50%;
	height: 300px;
	bottom:0px;
	right: 0px;
	z-index: -10
}

.img-background-bootom {
	position: relative;
	top: -100;
	left: 0px;
	width: 100%;
	object-fit: contain;
}

.conteiner-profile {
	display: inline-block;
	background-color: red;
	border-radius: 30px;
	width: 400px;
	height: 200px;
	margin-left: 35%;
	margin-top: 50px;
}
.profile{
	display: inline-block;
	background-color: white;
	border-radius: 30px;
	width: 400px;
	height: 500px;

}
.profile-background{
 	width: 400px;
 	height: 200px;
 	border-radius: 30px;
 	background-color: red;
 }
.profile-background img {
	object-fit: cover;
	border-radius: 30px 30px 0px 0px;
	width: 100%;
	height: 100%;
}

.image-profile {
	position: relative;
	border-radius: 90px;
	border:5px solid white;
	top: -50px;
	left: 150px;
}

.name {
	display: inline;
	margin: auto;
}

.name span{
	text-decoration: none;
	font-weight: normal;
	color: hsl(0, 0%, 59%);
}

.city {
	margin: auto;
	text-align: center;
}

.stats-info{
	border-top: 1px solid black;
}
.profile-follows {
	display: inline-block;
}

.followers-conteiner{
	display: inline-block;
	width:80px;
	height:80px;
	margin-top: 30px;
	margin-left: 30px;
}

.followers-conteiner p{
	font-weight: bold;
	text-align: center;
}

.followers-conteiner p span {
	display: inline-block;
	opacity: .5
}

.profile-likes {
	display: inline-block;
	margin:0 70px;
}

.likes-conteiner{
	display: inline-block;
}

.likes-conteiner p{
	font-weight: bold;
	text-align: center;
}

.likes-conteiner p span {
	display: block;
	opacity: .5
}

.profile-photos {
	display: inline-block;
}

.photos-conteiner{
	display: inline-block;
}

.photos-conteiner p{
	font-weight: bold;
	text-align: center;
}

.photos-conteiner p span {
	display: block;
	opacity: .5
}